<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <!-- <div class="modal-body"> -->
    <form action="//forgot-password " method="POST" class="fh5co-form animate-box"
      data-animate-effect="fadeIn" onsubmit='forgot(event)'>
      <button type="button" class="btn-close float-right" data-bs-dismiss="modal"
        aria-label="Close"></button>
      <h2 class="modal-title" id="exampleModalLabel">Reset Password</h2>

      <div class="form-group">
        <label for="username" class="sr-only">Username</label>
        <input type="text" id="forgot-username" class="form-control" id="username"
          placeholder="Username" autocomplete="off" name="username">
      </div>
      <div class="form-group">
        <label for="email" class="sr-only">E-Mail</label>
        <input type="email" id="forgot-email" class="form-control" id="password" placeholder="E-Mail"
          autocomplete="off" name="email">
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
</div>

</div>