<!-- Modal -->
<div class="modal fade" id="reset-password" tabindex="-1" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
    <!-- <div class="modal-body"> -->
    <form action="/<%=school%>/reset-password" method="POST" class="fh5co-form animate-box"
        data-animate-effect="fadeIn" onsubmit='sub(event)'>
        <button type="button" class="btn-close float-right" data-bs-dismiss="modal"
        aria-label="Close"></button>

        <h2 class="modal-title" id="exampleModalLabel">Reset Password</h2>

        <p style="color: red;"><%= message %></p>

        <div class="form-group">
        <label for="Current Password" class="sr-only">Current Password</label>
        <input id="password" type="password" name="curr_pass" class="form-control"
            placeholder="Enter Current Password" autocomplete="off">
        </div>

        <div class="form-group">
        <label for="New Password" class="sr-only">New Password</label>
        <input id="new_password" type="password" name="new_pass" class="form-control" placeholder="Enter New Password"
            autocomplete="off">
        </div>

        <div class="form-group">
            <label for="New Password" class="sr-only">Confirm Password</label>
            <input id="conf_password" type="password" name="conf_pass" class="form-control" placeholder="Confirm New Password"
                autocomplete="off">
        </div>

        <div class="form-group">
        <button type="submit" class="btn btn-primary">Change My Password</button>
        </div>
    </form>
    </div>
</div>
</div>