<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Content</title>
</head>
<body>
    <form action="/<%=school%>/<%=course_id%>/add_course_cont" enctype="multipart/form-data" method="POST">
        <label>Content Type</label>
        <input type="radio" name="contentType" value="content" onclick="check()"> Content
        <input type="radio" name="contentType" value="assignment" id="assignment" onclick="check()"> assignment
        <br>
        <label>Content name: </label>
        <input type="text" name="content_name">
        <br>
        <label>Content link:</label>
        <input type="file" name="file">
        <br>
        <div id="assignment-div">
            <label>deadline</label>
            <input type="datetime-local" name="deadline" >
            <label>Points</label>
            <input type="number" name="totalpoints">
        </div>
        <button type="submit" onclick="filepath()">Add</button>
    </form>
    <script>
        document.getElementById('assignment-div').style.visibility = 'hidden';
        function check(){
            if (document.getElementById('assignment').checked) {
                document.getElementById('assignment-div').style.visibility = 'visible';
            }
            else{ 
                document.getElementById('assignment-div').style.visibility = 'hidden';
            }
        }
    </script>
</body>
</html>