<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>general events</h2>
    <% events.forEach(function(evt){ %> 
        <p><%=evt%></p><br>
    <% }) %>  
    <br><br>
    <form action="/<%=school%>/admin/create_event" method="GET">
        <button type="submit">create event</button>
    </form>
    <form action="/<%=school%>/admin/delete_event" method="GET">
        <button type="submit">delete event</button>
    </form>
</body>
</html>