<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Welcome to Course
        <%=coursename%>
    </h1>
    <h4>Professors</h4>
    <%professors.forEach(function(profs){%>
        <%=profs%><br>
            <% })%>

                <h4>Students</h4>
                <%students.forEach(function(student){%>
                    <%=student%><br>
                        <% })%>

                            <form method="POST" id="enroll_student">
                                <br><button type="submit" name="button" value="enrollstudent">Enroll Student</button>
                            </form>

                            <form method="POST" id="assign_prof">
                                <br><button type="submit" name="button" value="assignprof">Assign Professor</button>
                            </form>

                            <form method="POST" id="remove_prof">
                                <br><button type="submit" name="button" value="removeprof">Remove Professor</button>
                            </form>
                            <form method="POST" id="remove_student">
                                <br><button type="submit" name="button" value="removestudent">Remove student</button>
                            </form>

                            <form action="/<%=school%>/admin/dashboard" method="GET">
                                <button type="submit">dashboard</button>
                            </form>
</body>

</html>