<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Create Professor</h1>
    <form id="add_prof" method="POST">
        <input type="text" name="profname" placeholder="professor name">
        <input type="text" name="username" placeholder="professor username">
        <input type="password" name="password" placeholder="password">
        </input>
        <button type="submit" name="register">Create</button>
    </form>
    <p>
        <%=message%>
    </p>
</body>

</html>