<!DOCTYPE html>
<html lang="en">

<head>
    <title>Create - Course</title>
    <%- include("./headers/forms.ejs") %> 
</head>

<body class="bg-gradient-primary">
    <br><br>
    <div class="container">
        <div class="card shadow-lg o-hidden border-0 my-5">
            <div class="card-body p-0">
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-flex">
                        <div class="flex-grow-1 bg-register-image"
                            style="background-image: url(&quot;/images/book.jpg&quot;);"></div>
                    </div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <br>
                                <h4 class="text-dark mb-4">Create Course</h4>
                            </div>
                            <form class="user" id="create_course" method="POST" onsubmit='sub(event)'>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input id="coursename" class="form-control form-control-user input" type="text"
                                            placeholder="Course Name" name="coursename" required>
                                    </div>
                                    <div id="coursename-feedback" class="invalid-feedback" style="display: none;">
                                        *This course name is already created.
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input id="course_username" class="form-control form-control-user input" type="text"
                                        placeholder="Course Codename" name="course_username" required>
                                </div>
                                <div id="course_username-feedback" class="invalid-feedback" style="display: none;">
                                    *This course_username is already created.
                                </div>
                                <button class="btn btn-primary btn-block text-white btn-user" type="submit"
                                    name="create">Create Course</button>
                            </form>
                            <br><br><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include("./footers/forms.ejs") %> 
    <script>
        var shortname = '<%-shortname%>';

        function sub(event) {
            event.preventDefault();
            var input = $('.input');

            var flag = true;

            for (var i = 0; i < input.length; i++) {
                if (input[i].classList.contains("is-invalid")) flag = false;
            }

            if (flag) {
                $.ajax({
                    url: '/' + shortname + '/admin/createcourse',
                    type: 'post',
                    data: {
                        'coursename': $('#coursename').val(),
                        'course_username': $('#course_username').val(),
                    },
                    success: function (response) {
                        if (response.message == "all saved") {
                            alert($('#course_username').val() + " Created")
                            window.location.reload();
                        } else {
                            window.location.reload();
                        }
                    }
                });
            }
        }

        $('document').ready(function () {
            var typingTimer;
            var doneTypingInterval = 100;
            var input = $('.input');

            input.on('keyup', function (event) {
                clearTimeout(typingTimer);
                typingTimer = setTimeout(call(event.target.name), doneTypingInterval);
            });

            input.on('keydown', function () {
                clearTimeout(typingTimer);
            });

            function call(field) {
                var data = $('#' + field).val();
                $.ajax({
                    url: '/' + shortname + '/admin/createcourse-validation',
                    type: 'post',
                    data: {
                        'val': field,
                        'data': data,
                    },
                    success: function (response) {
                        if (response.message == "taken") {
                            $('#' + field).addClass('is-invalid');
                            $('#' + field + "-feedback")[0].style.display = "block";
                        } else {
                            $('#' + field).removeClass('is-invalid');
                            $('#' + field + "-feedback")[0].style.display = "none";
                        }
                    }
                });
            }



        });
    </script>
    <script type="text/javascript" src="/javascript/all.js"></script>
</body>

</html>