<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Create Course</h1>
    <form id="create_course" method="POST">
        <input type="text" name="coursename" placeholder="course name">
        <button type="submit" name="create">Create</button>
    </form>

    <p>
        <%=message%>
    </p>
</body>

</html>