<!DOCTYPE html>
<html lang="en">

<head>
    <title>Register - Student</title>
    <%- include("./headers/forms.ejs") %> 

<body class="bg-gradient-primary">
    <br><br>
    <div class="container">
        <div class="card shadow-lg o-hidden border-0 my-5">
            <div class="card-body p-0">
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-flex">
                        <div class="flex-grow-1 bg-register-image"
                            style="background-image: url(&quot;/images/student.jpg&quot;);"></div>
                    </div>
                    <div class="col-lg-7">
                        <a type="button" class="btn-close float-right btn-link"
                                aria-label="Close" href="/<%=shortname%>/admin/dashboard"></a>
                        <div class="p-5">
                            <div class="text-center">
                                <br>
                                <h4 class="text-dark mb-4">Register Student</h4>
                            </div>
                            <form class="user" id="add_student" method="POST" onsubmit='sub(event)'>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input id="firstname" class="form-control form-control-user create-input"
                                            type="text" placeholder="First Name" name="studentname" required></div>
                                    <div class="col-sm-6">
                                        <input id="lastname" class="form-control form-control-user create-input"
                                            type="text" placeholder="Last Name" name="last_name" required></div>
                                </div>
                                <div class="form-group">
                                    <input id="username" class="form-control form-control-user create-input" type="text"
                                        placeholder="Username" name="username" required>
                                    <div id="username-feedback" class="invalid-feedback" style="display: none;">
                                        *This user is already registered.
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input id="email" class="form-control form-control-user create-input" type="text"
                                        placeholder="Email" name="email" required>
                                    <div id="email-feedback" class="invalid-feedback" style="display: none;">
                                        *This user is already registered.
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input id="password" class="form-control form-control-user create-input"
                                            type="password" placeholder="Password" name="password" required></div>
                                    <div class="col-sm-6">
                                        <input id="repeate-password" class="form-control form-control-user create-input"
                                            type="password" placeholder="Repeat Password" name="password_repeat"
                                            required>
                                        <div id="repeate-password-feedback" class="invalid-feedback"
                                            style="display: none;">
                                            *Password should match.
                                        </div>
                                    </div>
                                </div><button class="btn btn-primary btn-block text-white btn-user" type="submit"
                                    name="register">Register Account</button>
                            </form>
                            <br><br><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include("./footers/forms.ejs") %> 

    <script>
        var shortname = '<%-shortname%>';

        function sub(event) {
            event.preventDefault();
            var input = $('#username');

            var flag = true;

            if (input.hasClass("is-invalid")) flag = false;
            if ($('#password').val() != $('#repeate-password').val()) {
                console.log("1");
                flag = false;
                $('#repeate-password').addClass('is-invalid');
                $('#repeate-password-feedback')[0].style.display = "block";
            } else {
                console.log("2");
                flag = true;
                $('#repeate-password').removeClass('is-invalid');
                $('#repeate-password-feedback')[0].style.display = "none";
            }

            if (flag) {
                var username = $('#username').val();
                var password = $('#password').val();
                var firstname = $('#firstname').val();
                var lastname = $('#lastname').val();
                var email = $('#email').val();
                $.ajax({
                    url: '/' + shortname + '/admin/createstudent',
                    type: 'post',
                    data: {
                        'button': 'register',
                        'username': username,
                        'password': password,
                        'firstname': firstname,
                        'lastname': lastname,
                        'email':email,
                    },
                    success: function (response) {
                        console.log(response.message);
                        if (response.message == 'Uauthorised') {
                            window.location.replace("/" + shortname);
                        } else {
                            if (response.message == 'User saved') {
                                alert(username + " Registered");
                                window.location.reload();
                            } else {
                                alert("Student NOT registered");
                                window.location.reload();
                            }
                        }
                    }
                });
            }
        }

        $('document').ready(function () {
            var typingTimer;
            var doneTypingInterval = 100;
            var input = $('#username');
            var input1 = $('#email');

            input.on('keyup', function (event) {
                clearTimeout(typingTimer);
                typingTimer = setTimeout(call(event.target.name), doneTypingInterval);
            });

            input.on('keydown', function () {
                clearTimeout(typingTimer);
            });

            input1.on('keyup', function (event) {
                clearTimeout(typingTimer);
                flag=1;
                typingTimer = setTimeout(call(event.target.name), doneTypingInterval);
            });

            input1.on('keydown', function () {
                clearTimeout(typingTimer);
            });

            function call(field) {
                    var data = $('#' + field).val();
                    $.ajax({
                        url: '/' + shortname + '/admin/createprof',
                        type: 'post',
                        data: {
                            'button': 'validate',
                            'val': field,
                            'data' : data,
                        },
                        success: function (response) {
                            if (response.message == 'Uauthorised') {
                                window.location.replace("/" + shortname);
                            } else {
                                if (response.message == "User already exist") {
                                    $('#' + field).addClass('is-invalid');
                                    $('#' + field+'-feedback')[0].style.display = "block";
                                } else {
                                    $('#' + field).removeClass('is-invalid');
                                    $('#' + field+'-feedback')[0].style.display = "none";
                                }
                            }
                        }
                });
            }



        });
    </script>
    <script type="text/javascript" src="/javascript/all.js"></script>
</body>

</html>