<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>delete event</h1>
    <% var act; %> 
    <% if(courseid){ %> 
       <% act = "/" + school + "/" + courseid + "/delete_course_event"; %>  
    <% }else{ %> 
       <%  act = "/" + school + "/admin/delete_event"; %> 
    <% } %> 
    <form action="<%=act%>" method="POST">
        <%events.forEach(function(evt){  %> 
            <input type="radio" name="event" value="<%=evt._id%>"><%=evt %> <br>
        <% }) %> 
        <button type="submit">delete</button>
    </form>
    
</body>
</html>