<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>Recover Password</title>
    
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    
    
        <link rel="stylesheet" href="/css/dashboard.min.css">
        <link rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/fontawesome5-overrides.min.css">
        <link rel="stylesheet" href="/css/forgot-password.css">
        <style>
            .fh5co-form {
                padding: 50px 60px;
            }
        </style>
    </head>

<body class="bg-gradient-primary">
    <br><br>
    <div class="container">
        <div class="card shadow-lg o-hidden border-0 my-5">
            <div class="card-body p-0">
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-flex" style="padding: 0px;">
                        <div class="flex-grow-1 bg-register-image"
                            style="background-image: url(&quot;/images/reset-password.jpg&quot;);"></div>
                    </div>
                    <div class="col-lg-7" style="padding: 0px;">
                            <form action="/recover-password/<%= token %>" method="POST" id='recover-password' class="fh5co-form animate-box">
                                <h3 style="color: #52616b;">ENTER NEW PASSWORD</h3>
                                <br><br>
                                <div class="form-group">
                                    <label for="password" class="sr-only">New Password</label>
                                    <input type="password" class="form-control" id="password" name="password" placeholder="NEW PASSWORD" autocomplete="off" >
                                </div>
                                <div class="form-group">
                                    <label for="password" class="sr-only">Confirm Password</label>
                                    <input type="password" class="form-control" id="conf_password" name="conf_password" placeholder="CONFIRM PASSWORD" autocomplete="off">
                                </div><br>
                                <div class="form-group">
                                    <button type="submit" name="submit" class="btn btn-primary">UPDATE MY PASSWORD</button>
                                </div>
                                <br><br>
                            </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="/javascript/dashboard.min.js"></script>
    <script type="text/javascript" src="/javascript/all.js"></script>
    <script>
        function validate_password(){
            var pass = document.getElementById("password").value;
            var conf_pass = document.getElementById("conf_password").value;
            if(pass===conf_pass){
                document.getElementById('recover-password').submit();
            }else{
                alert("Please enter password correctly!");
            }
        }
        document.querySelector('[name=submit]').addEventListener("click", function(){
            validate_password()
        })
    </script>
    
</body>

</html>