forgot-password<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>forget_password</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <form action="/recover-password/<%= token %>" method="POST" id='recover-password'>
            <label >Enter Password</label>
            <input type="password" id="password" name="password">
            <br>
            <label >confrirm password</label>
            <input type="password" id="conf_password" name="conf_password">
            <button type="submit" name="submit">Submit</button>
        </form>
        <script>
            function validate_password(){
                var pass = document.getElementById("password").value;
                var conf_pass = document.getElementById("conf_password").value;
                if(pass===conf_pass){
                    document.getElementById('recover-password').submit();
                }else{
                    alert("Please enter password correctly!");
                }
            }
            document.querySelector('[name=submit]').addEventListener("click", function(){
                validate_password()
            })
        </script>
    </body>
</html>