<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Schuddle-Register your school</title>
    <link rel="stylesheet" href="/css/homepage.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kaushan+Script">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700">
</head>

<body id="#page-top">
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark" id="mainNav">
        <div class="container"><a class="navbar-brand" href="#page-top">Schudle</a><button data-toggle="collapse"
                data-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right" type="button"
                data-toogle="collapse" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav navbar-nav ml-auto text-uppercase">
                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="#" style="color:  #fed136 !important;">Register</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <header class="masthead" style="background: url(&quot;/images/bgimage1.jpg&quot;);">
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading text-uppercase"><span>Register Your School.</span></div>
            </div>
        </div>
    </header>

    <section id="registerform">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="text-uppercase section-heading">Register</h2>
                    <h3 class="text-muted section-subheading">Provide your school details.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form id="register-form" method="POST" onsubmit='sub(event)'>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="schoolname">School Name</label>
                                <input type="text" id="schoolname" class="form-control register-input" name="schoolname"
                                    placeholder="Provide your School Name" required>
                                <div id="schoolname-feedback" class="invalid-feedback" style="display: none;">
                                    *This School is already registered.
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="schoolemail">School Email</label>
                                <input type="email" id="schoolemail" class="form-control register-input"
                                    name="schoolemail" placeholder="Provide your School Emailid" required>
                                <div id="schoolemail-feedback" class="invalid-feedback" style="display: none;">
                                    *This email is already registered.
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="shortname">School Short Name</label>
                                <input type="text" id="shortname" class="form-control register-input" name="shortname"
                                    placeholder="Please provide short name of your school" required>
                                <div id="shortname-feedback" class="invalid-feedback" style="display: none;">
                                    *This shortname is already registered.
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="adminfirstname">Admin FirstName</label>
                                <input id="adminfirstname" type="text" class="form-control register-input"
                                    id="adminfirstname" name="adminfirstname" placeholder="Firstname" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="adminlastname">Admin LastName</label>
                                <input id="adminlastname" type="text" class="form-control register-input"
                                    id="adminlastname" name="adminlastname" placeholder="Lastname" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="adminusername">Admin Username</label>
                                <input type="email" class="form-control register-input" id="adminusername"
                                    name="adminusername" placeholder="Username" required>
                                <div id="adminusername-feedback" class="invalid-feedback" style="display: none;">
                                    *This user is already registered.
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="password">Admin Password</label>
                                <input type="password" class="form-control register-input" id="password" name="password"
                                    placeholder="Password" required>
                            </div>
                        </div>
                        <button type="submit" id="register" class="btn btn-primary btn-xl"
                            name="register">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </section>


    <footer class="bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-4"><span class="copyright">Copyright&nbsp;© Schudle 2021</span></div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
                        <li class="list-inline-item"><a href="#">Terms of Use</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="/javascript/homepage.min.js"></script>
    <script src="https://kit.fontawesome.com/eb9e477f45.js" crossorigin="anonymous"></script>
    <script>
        function sub(event) {
            event.preventDefault();
            var input = $('.register-input');

            var flag = true;

            for (var i = 0; i < input.length; i++) {
                if (input[i].classList.contains("is-invalid")) flag = false;
            }
            console.log(flag);
            if (flag) {
                $.ajax({
                    url: '/register',
                    type: 'post',
                    data: {
                        schoolname: $('#schoolname').val(),
                        shortname: $('#shortname').val(),
                        schoolemail: $('#schoolemail').val(),
                        adminusername: $('#adminusername').val(),
                        adminfirstname: $('#adminfirstname').val(),
                        adminlastname: $('#adminlastname').val(),
                        password: $('#password').val(),
                    },
                    success: function (response) {
                        if (response.message == "all saved") {
                            window.location.replace("/" + $('#shortname').val());
                        } else {
                            window.location.reload();
                        }
                    }
                });
            }
        }

        $('document').ready(function () {
            var typingTimer;
            var doneTypingInterval = 100;
            var input = $('.register-input');

            input.on('keyup', function (event) {
                clearTimeout(typingTimer);
                typingTimer = setTimeout(call(event.target.name), doneTypingInterval);
            });

            input.on('keydown', function () {
                clearTimeout(typingTimer);
            });

            function call(field) {
                var data = $('#' + field).val();
                $.ajax({
                    url: '/register-validation',
                    type: 'post',
                    data: {
                        'val': field,
                        'data': data,
                    },
                    success: function (response) {
                        if (response.message == "taken") {
                            $('#' + field).addClass('is-invalid');
                            $('#' + field + "-feedback")[0].style.display = "block";
                        } else {
                            $('#' + field).removeClass('is-invalid');
                            $('#' + field + "-feedback")[0].style.display = "none";
                        }
                    }
                });
            }



        });
    </script>
</body>

</html>