<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
</head>

<body>
    <h1>Reset Password</h1>
    <p style="color: red;"><%= message %></p>
    <form action="/<%=school%>/reset-password" method="POST">
        <label>Enter Current Password:</label>
        <input type="password" name="curr_pass">
        <label>Enter New Password:</label>
        <input type="password" name="new_pass">
        <label>Confirm Password:</label>
        <input type="password" name="conf_pass">
        <button type="submit">Reset</button>
    </form>
</body>

</html>