<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
</head>

<body>
    <h1>Reset Password</h1>
    <p style="color: red;"><%= message %></p>
    <form action="/<%=school%>/reset-password" method="POST" onsubmit='sub(event)'>
        <label>Enter Current Password:</label>
        <input id="password" type="password" name="curr_pass">
        <label>Enter New Password:</label>
        <input id="new_password" type="password" name="new_pass">
        <label>Confirm Password:</label>
        <input id="conf_password" type="password" name="conf_pass">
        <button type="submit">Reset</button>
    </form>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="/javascript/homepage.min.js"></script>
    <script src="https://kit.fontawesome.com/eb9e477f45.js" crossorigin="anonymous"></script>
    <script>
        function sub(event) {

            event.preventDefault();
            var curr_pass = document.getElementById("password").value;
            var new_pass = document.getElementById("new_password").value;
            var conf_pass = document.getElementById("conf_password").value;
            if (new_pass === conf_pass) {

                $.ajax({
                    url: '/<%=school%>/reset-password',
                    type: 'post',
                    data: {
                        curr_pass: curr_pass,
                        new_pass: new_pass,
                    },
                    success: function (response) {
                        if (response.message == "saved") {
                            alert("Password updated");
                            window.location.replace("/" + response.schoolname + "/profile");
                        }
                        if (response.message == "current password incorrect") {
                            alert("current password incorrect");
                            window.location.reload();
                        }
                        if (response.message == "error404") {
                            window.location.replace("/error404");
                        }
                    }
                });
            } else {
                alert("Enter Confirm password correctly!");
            }
        }
    </script>
</body>

</html>