<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>view_submissions</title>
</head>
<body>
    <h1>Subbmission for <%=item.name%></h1>
    <%item.submissions.forEach(function(sub){%>
        <p><%=sub%></p>
    <%})%>

    <form action="/<%=school%>/<%=courseid%>" method="GET">
        <button type="submit">Course Page</button>
    </form>
</body>
</html>