@import url('https://fonts.googleapis.com/css?family=Mukta:700');

/* Forms Css */

body {
    line-height: 1.5;
    font-size: 16px;
    color: #848484;
    background-color: #f0f0f0;
  }
  
html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
  }
  body.style-2 {
    background-color: #ffffff;
    background-size: cover;
    background-position: -30% center;
    background-repeat: no-repeat;
    background-image: url(../images/bg_2.jpg);
    height: 100%;
  }
  body.style-3 {
    background: #ffffff url(../images/geometry2.png) repeat;
  }
  
  a {
    color: #848484;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  a:hover {
    color: #61128c;
  }
  
  .menu {
    padding: 0;
    margin: 30px 0 0 0;
  }
  .menu li {
    list-style: none;
    margin-bottom: 10px;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
  }
  .menu li a {
    padding: 5px;
  }
  .menu li.active a {
    color: #b3b3b3;
  }
  .btn-link{
    position: relative;
    top: 6%;
    right: 4.5%;
  }

  .fh5co-form {
    padding: 30px;
    -webkit-3: -4px 7px 46px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: -4px 7px 46px 2px rgba(0, 0, 0, 0.1);
    -o-box-shadow: -4px 7px 46px 2px rgba(0, 0, 0, 0.1);
    box-shadow: -4px 7px 46px 2px rgba(0, 0, 0, 0.1);
    background: #ffffff;
  }
  .style-2 .fh5co-form {
    -webkit-box-shadow: -4px 7px 46px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: -4px 7px 46px 2px rgba(0, 0, 0, 0.1);
    -o-box-shadow: -4px 7px 46px 2px rgba(0, 0, 0, 0.1);
    box-shadow: -4px 7px 46px 2px rgba(0, 0, 0, 0.1);
  }
  @media screen and (max-width: 768px) {
    .fh5co-form {
      padding: 15px;
    }
  }
  .fh5co-form h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
    margin: 0 0 30px 0;
    color: #000000;
  }
  .fh5co-form h5 {
    color: #282936;
  }
  .fh5co-form .form-group {
    margin-bottom: 30px;
  }
  .fh5co-form .form-group p {
    font-size: 14px;
    color: #9f9f9f;
    font-weight: 300;
  }
  .fh5co-form .form-group p a {
    color: #000000;
  }
  .fh5co-form label {
    font-weight: 300;
    font-size: 14px;
    font-weight: 300;
  }
  .fh5co-form .form-control {
    font-size: 16px;
    font-weight: 300;
    height: 50px;
    padding-left: 0;
    padding-right: 0;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .fh5co-form .form-control::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.4);
    text-transform: uppercase;
  }
  .fh5co-form .form-control::-moz-placeholder {
    color: rgba(0, 0, 0, 0.4);
    text-transform: uppercase;
  }
  .fh5co-form .form-control:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.4);
    text-transform: uppercase;
  }
  .fh5co-form .form-control:-moz-placeholder {
    color: rgba(0, 0, 0, 0.4);
    text-transform: uppercase;
  }
  .fh5co-form .form-control:focus, .fh5co-form .form-control:active {
    border-bottom: 1px solid rgba(0, 0, 0, 1);
  }
  
  .fh5co-form .form-daytime{
    font-size: 16px;
    font-weight: 300;
    height: 50px;
    padding-left: 0;
    padding-right: 0;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .fh5co-form .form-daytime::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.4);
    text-transform: uppercase;
  }
  .fh5co-form .form-daytime::-moz-placeholder {
    color: rgba(0, 0, 0, 0.4);
    text-transform: uppercase;
  }
  .fh5co-form .form-daytime:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.4);
    text-transform: uppercase;
  }
  .fh5co-form .form-daytime:-moz-placeholder {
    color: rgba(0, 0, 0, 0.4);
    text-transform: uppercase;
  }
  .fh5co-form .form-daytime:focus, .fh5co-form .form-daytime:active, .fh5co-form .form-daytime:focus {
    border-bottom: 1px solid rgba(0, 0, 0, 1);
    outline: 0;
    box-shadow: none !important;
  }

  .btn-primary {
    height: 50px;
    padding-right: 20px;
    padding-left: 20px;
    border: none;
    background: #61128c;
    color: #ffffff;
    -webkit-box-shadow: -2px 10px 20px -1px rgba(97,18,118, 0.4);
    -moz-box-shadow: -2px 10px 20px -1px rgba(97,18,118, 0.4);
    -o-box-shadow: -2px 10px 20px -1px rgba(97,18,118, 0.4);
    box-shadow: -2px 10px 20px -1px rgba(97,18,118, 0.4);
  }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    color: #ffffff;
    background: #61128c !important;
    outline: none;
  }
  
  input, textarea {
    color: #000;
  }
  
  .placeholder {
    color: #aaa;
  }
  
  .js .animate-box {
    opacity: 0;
  }
  
/* Congigure page Css  */

 .body {
	 font-family: 'Mukta', sans-serif;
	 font-size: 1rem;
	 line-height: 1.5;
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 margin: 0;
	 min-height: 100vh;
	 background: #f3f8fa;
}
 .button {
	 position: relative;
	 display: inline-block;
	 cursor: pointer;
	 outline: none;
	 border: 0;
	 vertical-align: middle;
	 text-decoration: none;
	 background: transparent;
	 padding: 0;
	 font-size: inherit;
	 font-family: inherit;
}
 .button.learn-more {
	 width: 12rem;
	 height: auto;
}
.button.wd-14 {
  width: 14rem;
}
 .button.learn-more .circle {
	 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	 position: relative;
	 display: block;
	 margin: 0;
	 width: 3rem;
	 height: 3rem;
	 background: #61128c;
	 border-radius: 1.625rem;
}
 .button.learn-more .circle .icon {
	 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	 position: absolute;
	 top: 0;
	 bottom: 0;
	 margin: auto;
	 background: #ffc107;
}
 .button.learn-more .circle .icon.arrow {
	 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	 left: 0.625rem;
	 width: 1.125rem;
	 height: 0.125rem;
	 background: none;
}
 .button.learn-more .circle .icon.arrow::before {
	 position: absolute;
	 content: '';
	 top: -0.25rem;
	 right: 0.0625rem;
	 width: 0.625rem;
	 height: 0.625rem;
	 border-top: 0.125rem solid #ffc107;
	 border-right: 0.125rem solid #ffc107;
	 transform: rotate(45deg);
}

 .button.learn-more .button-text {
	 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	 position: absolute;
	 top: 0;
	 left: 0;
	 right: 0;
	 bottom: 0;
	 padding: 0.75rem 0;
	 margin: 0 0 0 1.85rem;
	 color: #282936;
	 font-weight: 700;
	 line-height: 1.6;
	 text-align: center;
	 text-transform: uppercase;
}
 .button:hover .circle {
	 width: 100%;
   -webkit-box-shadow: -2px 10px 20px -1px rgba(97,18,118, 0.4);
    -moz-box-shadow: -2px 10px 20px -1px rgba(97,18,118, 0.4);
    -o-box-shadow: -2px 10px 20px -1px rgba(97,18,118, 0.4);
    box-shadow: -2px 10px 20px -1px rgba(97,18,118, 0.4);
}
 .button:hover .circle .icon.arrow {
	 background: #ffc107;
	 transform: translate(1rem, 0);
}
 .button:hover .button-text {
	 color: #ffc107;
}
 @supports (display: grid) {
	 .body {
		 display: grid;
		 grid-template-columns: repeat(4, 1fr);
		 grid-gap: 0.625rem;
		 grid-template-areas: ". main main ." ". main main .";
	}
	 #container {
		 grid-area: main;
		 align-self: center;
		 justify-self: center;
	}
}
.right{
  position: relative;
  right: 0%;

}

 /* Event Cards Css */

.events h2 {
  color: #0a4870;
  font-weight: 500;
}
.events .ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-evenly;
  padding: 0;
}
.events .ul .booking-card {
  position: relative;
  display: flex;
  flex-basis: 25%;
  min-width: 240px;
  max-width: 300px;
  flex-direction: column;
  margin: 20px 4% 30px 4%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  overflow: hidden;
  background-position: center center;
  background-size: cover;
  text-align: center;
  color: #0a4870;
  transition: 0.3s;
}
.events .ul .booking-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(10, 72, 112, 0);
  transition: 0.3s;
}
.events .ul .booking-card .book-container {
  height: 100px;
}
.events .ul .booking-card .book-container .content {
  position: relative;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  transform: translateY(-200px);
  transition: 0.3s;
}
.events .ul .booking-card .book-container .content .btn {
  border: 3px solid white;
  padding: 10px 15px;
  background: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.3em;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}
.events .ul .booking-card .book-container .content .btn:hover {
  background: white;
  border: 0px solid white;
  color: #0a4870;
}
.events .ul .booking-card .informations-container {
  flex: 1 0 auto;
  padding: 20px;
  background: #f0f0f0;
  transform: translateY(206px);
  transition: 0.3s;
}
.events .ul .booking-card .informations-container .title {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 1.2em;
}
.events .ul .booking-card .informations-container .title::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3px;
  width: 50px;
  margin: auto;
  background: #0a4870;
}
.events .ul .booking-card .informations-container .price {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.events .ul .booking-card .informations-container .price .icon {
  margin-right: 10px;
}
.events .ul .booking-card .informations-container .more-information {
  opacity: 0;
  transition: 0.3s;
}
.events .ul .booking-card .informations-container .more-information .info-and-date-container {
  display: flex;
}
.events .ul .booking-card .informations-container .more-information .info-and-date-container .box {
  flex: 1 0;
  padding: 15px;
  margin-top: 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: white;
  font-weight: bold;
  font-size: 1em;
}
.events .ul .booking-card .informations-container .more-information .info-and-date-container .box .icon {
  margin-bottom: 5px;
}
.events .ul .booking-card .informations-container .more-information .info-and-date-container .box.info {
  color: #0a4870;
  margin-right: 10px;
}
.events .ul .booking-card .informations-container .more-information .disclaimer {
  margin-top: 20px;
  font-size: 0.8em;
  color: #7d7d7d;
}
.events .ul .booking-card:hover::before {
  background: rgba(10, 72, 112, 0.6);
}
.events .ul .booking-card:hover .book-container .content {
  opacity: 1;
  transform: translateY(0px);
}
.events .ul .booking-card:hover .informations-container {
  transform: translateY(0px);
}
.events .ul .booking-card:hover .informations-container .more-information {
  opacity: 1;
}
@media (max-width: 768px) {
  .events .ul .booking-card::before {
    background: rgba(10, 72, 112, 0.6);
 }
  .events .ul .booking-card .book-container .content {
    opacity: 1;
    transform: translateY(0px);
 }
  .events .ul .booking-card .informations-container {
    transform: translateY(0px);
 }
  .events .ul .booking-card .informations-container .more-information {
    opacity: 1;
 }
}
.credits {
  display: table;
  background: #0a4870;
  color: white;
  line-height: 25px;
  margin: 10px auto;
  padding: 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-align: center;
}
.credits a {
  color: #e3ebf1;
}

a.prevdef{
  color: #0a4870;
  font-weight: bold;
  font-size: 0.9em;
}
a.prevdef:visited{
  color: #0a4870;
  font-weight: bold;
  font-size: 0.9em;
}
a.prevdef:hover{
  text-decoration: underline;
  transition: none;
}

/* Create Event Css  */

#courses {
    display: flex;
}

.courses-container {
    max-width: 640px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
}

ul.ks-cboxtags {
    list-style: none;
    padding: 10px 0px 0px 0px;
}
ul.ks-cboxtags li{
  display: inline;
}
ul.ks-cboxtags li label{
    display: inline-block;
    background-color: rgba(255, 255, 255, .9);
    border: 2px solid rgba(139, 139, 139, .3);
    color: #adadad;
    border-radius: 25px;
    white-space: nowrap;
    margin: 3px 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all .2s;
}

ul.ks-cboxtags li label {
    padding: 8px 12px;
    cursor: pointer;
}

ul.ks-cboxtags li label::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 12px;
    padding: 2px 6px 2px 2px;
    content: "\f067";
    transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label::before {
    content: "\f00c";
    transform: rotate(-360deg);
    transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label {
    border: 2px solid #61128c;
    background-color: #61128c;
    color: #ffc107;
    transition: all .2s;
    -webkit-box-shadow: -2px 10px 20px -1px rgba(97,18,118, 0.4);
    -moz-box-shadow: -2px 10px 20px -1px rgba(97,18,118, 0.4);
    -o-box-shadow: -2px 10px 20px -1px rgba(97,18,118, 0.4);
    box-shadow: -2px 10px 20px -1px rgba(97,18,118, 0.4);
}

ul.ks-cboxtags li input[type="checkbox"] {
  display: absolute;
}
ul.ks-cboxtags li input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}
ul.ks-cboxtags li input[type="checkbox"]:focus + label {
  border: 2px solid rgba(139, 139, 139, .3);
}

.checkbox {
  --background: #fff;
  --border: #d1d6ee;
  --border-hover: #bbc1e1;
  --border-active: #1e2235;
  --tick: #fff;
  position: relative;
}
.checkbox input, .checkbox svg {
  width: 21px;
  height: 21px;
  display: block;
}
.checkbox input {
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  outline: none;
  background: var(--background);
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  border-radius: 4px;
  transition: box-shadow 0.3s;
  box-shadow: inset 0 0 0 var(--s, 1px) var(--b, var(--border));
}
.checkbox input:hover {
  --s: 2px;
  --b: var(--border-hover);
}
.checkbox input:checked {
  --b: var(--border-active);
}
.checkbox svg {
  pointer-events: none;
  fill: none;
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: var(--stroke, var(--border-active));
  position: absolute;
  top: 0;
  left: 0;
  width: 21px;
  height: 21px;
  transform: scale(var(--scale, 1)) translateZ(0);
}
.checkbox.path input:checked {
  --s: 2px;
  transition-delay: 0.4s;
}
.checkbox.path input:checked + svg {
  --a: 16.1 86.12;
  --o: 102.22;
}
.checkbox.path svg {
  stroke-dasharray: var(--a, 86.12);
  stroke-dashoffset: var(--o, 86.12);
  transition: stroke-dasharray 0.6s, stroke-dashoffset 0.6s;
}
.checkbox.bounce {
  --stroke: var(--tick);
}
.checkbox.bounce input:checked {
  --s: 11px;
}
.checkbox.bounce input:checked + svg {
  animation: bounce 0.4s linear forwards 0.2s;
}
.checkbox.bounce svg {
  --scale: 0;
}
@keyframes bounce {
  50% {
    transform: scale(1.2);
 }
  75% {
    transform: scale(0.9);
 }
  100% {
    transform: scale(1);
 }
}
.form-group {
  box-sizing: inherit;
}
.form-group:before, .form-group:after {
  box-sizing: inherit;
}
body .grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 0.01fr));
  grid-gap: 24px;
}

/* Assignment Cards CSS  */

.course {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
	display: flex;
	max-width: 100%;
	overflow: hidden;
	width: 300px;
}

.course-info {
	padding: 25px 5px 40px 5px;
	position: relative;
	width: 100%;      
  overflow: hidden;
  text-overflow: ellipsis;
}

.course h6 {
  white-space: nowrap;
	margin: 0;
	text-transform: uppercase;
  text-overflow: ellipsis;
  overflow: hidden;
}

.course-preview {
  background-color: #f8f9fc;
  background-size: 100% 75%;
  background-position-y: 50%;
  background-repeat: no-repeat;
  width: 25%;
}

.download-btn{
  position: absolute;
  bottom: 10%;
  right: 0%;
  font-size: 1rem;
  outline: none;
  background-color: inherit;
  border: none;
  color: #848484;
  padding: 5px 15px;
}
.view-btn {
  position: absolute;
  bottom: 10%;
  right: 15%;
  font-size: 1rem;
  outline: none;
  background-color: inherit;
  border: none;
  color: #848484;
  padding: 5px 15px;
}
.delete-btn {
  position: absolute;
  top: 0%;
  right: 0%;
  font-size: 1rem;
  outline: none;
  background-color: inherit;
  border: none;
  color: #848484;
  padding: 5px 15px;
}

.fa-download:hover,.fa-external-link-alt:hover,.fa-minus:hover{
  color: #61128c;
  background-color: #e3ebf1;
}

/* .btn {
	background-color: #2A265F;
	border: 0;
	border-radius: 50px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	color: #fff;
	font-size: 16px;
	padding: 12px 25px;
	position: absolute;
	bottom: 30px;
	right: 30px;
	letter-spacing: 1px;
} */

/* Tabs CSS  */

 .tabs {
	 position: inherit;
	 background: white;
	 padding: 5%;
	 padding-bottom: 80px;
	 width: 100%;
	 height: 100%;
	 box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
	 border-radius: 5px;
	 min-width: 240px;
}
 .tabs input[name="tab-control"] {
	 display: none;
}
 .tabs .content section h2.tabtitle, .tabs ul li label {
	 font-family: "Montserrat";
	 font-weight: bold;
	 font-size: 18px;
	 color: #61128c;
}
 .tabs ul {
	 list-style-type: none;
	 padding-left: 0;
	 display: flex;
	 flex-direction: row;
	 margin-bottom: 10px;
	 justify-content: space-between;
	 align-items: flex-end;
	 flex-wrap: wrap;
}
 .tabs ul li {
	 box-sizing: border-box;
	 flex: 1;
	 width: 25%;
	 padding: 0 10px;
	 text-align: center;
}
 .tabs ul li label {
	 transition: all 0.3s ease-in-out;
	 color: #929daf;
	 padding: 5px auto;
	 overflow: hidden;
	 text-overflow: ellipsis;
	 display: block;
	 cursor: pointer;
	 transition: all 0.2s ease-in-out;
	 white-space: nowrap;
	 -webkit-touch-callout: none;
}
 .tabs ul li label br {
	 display: none;
}
 .tabs ul li label svg {
	 fill: #929daf;
	 height: 1.2em;
	 vertical-align: bottom;
	 margin-right: 0.2em;
	 transition: all 0.2s ease-in-out;
}
 .tabs ul li label:hover, .tabs ul li label:focus, .tabs ul li label:active {
	 outline: 0;
	 color: #ffc107;
}
 .tabs ul li label:hover svg, .tabs ul li label:focus svg, .tabs ul li label:active svg {
	 fill: #ffc107;
}
 .tabs .slider {
	 position: relative;
	 width: 25%;
	 transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.07);
}
 .tabs .slider .indicator {
	 position: relative;
	 width: 50px;
	 max-width: 100%;
	 margin: 0 auto;
	 height: 4px;
	 background: #61128c;
	 border-radius: 1px;
}
 /* .tabs .content {
	 margin-top: 30px;
} */
 .tabs .content section {
	 display: none;
	 animation-name: content;
	 animation-direction: normal;
	 animation-duration: 0.3s;
	 animation-timing-function: ease-in-out;
	 animation-iteration-count: 1;
	 line-height: 1.4;
}
 .tabs .content section h2.tabtitle {
	 color: #61128c;
	 display: none;
}
 .tabs .content section h2.tabtitle::after {
	 content: "";
	 position: relative;
	 display: block;
	 width: 30px;
	 height: 3px;
	 background: #61128c;
	 margin-top: 5px;
	 left: 1px;
}
 .tabs input[name="tab-control"]:nth-of-type(1):checked ~ ul > li:nth-child(1) > label {
	 cursor: default;
	 color: #61128c;
}
 .tabs input[name="tab-control"]:nth-of-type(1):checked ~ ul > li:nth-child(1) > label svg {
	 fill: #61128c;
}
 @media (max-width: 600px) {
	 .tabs input[name="tab-control"]:nth-of-type(1):checked ~ ul > li:nth-child(1) > label {
		 background: rgba(0, 0, 0, 0.08);
	}
}
 .tabs input[name="tab-control"]:nth-of-type(1):checked ~ .slider {
	 transform: translateX(0%);
}
 .tabs input[name="tab-control"]:nth-of-type(1):checked ~ .content > section:nth-child(1) {
	 display: block;
}
 .tabs input[name="tab-control"]:nth-of-type(2):checked ~ ul > li:nth-child(2) > label {
	 cursor: default;
	 color: #61128c;
}
 .tabs input[name="tab-control"]:nth-of-type(2):checked ~ ul > li:nth-child(2) > label svg {
	 fill: #61128c;
}
 @media (max-width: 600px) {
	 .tabs input[name="tab-control"]:nth-of-type(2):checked ~ ul > li:nth-child(2) > label {
		 background: rgba(0, 0, 0, 0.08);
	}
}
 .tabs input[name="tab-control"]:nth-of-type(2):checked ~ .slider {
	 transform: translateX(100%);
}
 .tabs input[name="tab-control"]:nth-of-type(2):checked ~ .content > section:nth-child(2) {
	 display: block;
}
 .tabs input[name="tab-control"]:nth-of-type(3):checked ~ ul > li:nth-child(3) > label {
	 cursor: default;
	 color: #61128c;
}
 .tabs input[name="tab-control"]:nth-of-type(3):checked ~ ul > li:nth-child(3) > label svg {
	 fill: #61128c;
}
 @media (max-width: 600px) {
	 .tabs input[name="tab-control"]:nth-of-type(3):checked ~ ul > li:nth-child(3) > label {
		 background: rgba(0, 0, 0, 0.08);
	}
}
 .tabs input[name="tab-control"]:nth-of-type(3):checked ~ .slider {
	 transform: translateX(200%);
}
 .tabs input[name="tab-control"]:nth-of-type(3):checked ~ .content > section:nth-child(3) {
	 display: block;
}
 .tabs input[name="tab-control"]:nth-of-type(4):checked ~ ul > li:nth-child(4) > label {
	 cursor: default;
	 color: #61128c;
}
 .tabs input[name="tab-control"]:nth-of-type(4):checked ~ ul > li:nth-child(4) > label svg {
	 fill: #61128c;
}
 @media (max-width: 600px) {
	 .tabs input[name="tab-control"]:nth-of-type(4):checked ~ ul > li:nth-child(4) > label {
		 background: rgba(0, 0, 0, 0.08);
	}
}
 .tabs input[name="tab-control"]:nth-of-type(4):checked ~ .slider {
	 transform: translateX(300%);
}
 .tabs input[name="tab-control"]:nth-of-type(4):checked ~ .content > section:nth-child(4) {
	 display: block;
}
 @keyframes content {
	 from {
		 opacity: 0;
		 transform: translateY(5%);
	}
	 to {
		 opacity: 1;
		 transform: translateY(0%);
	}
}
 @media (max-width: 1000px) {
	 .tabs ul li label {
		 white-space: initial;
	}
	 .tabs ul li label br {
		 display: initial;
	}
	 .tabs ul li label svg {
		 height: 1.5em;
	}
}
 @media (max-width: 600px) {
	 .tabs ul li label {
		 padding: 5px;
		 border-radius: 5px;
	}
	 .tabs ul li label span {
		 display: none;
	}
	 .tabs .slider {
		 display: none;
	/* }
	 .tabs .content {
		 margin-top: 20px;
	} */
	 .tabs .content section h2.tabtitle {
		 display: block;
	}
}